body, html {
    margin: 0;
    padding: 0;
}

.image-gallery {
    position: relative; /* Position arrows relative to this container */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
}

.slider {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Snap to each image */
    position: relative; /* Position arrows relative to this container */
}

.slide {
    display: flex;
    scroll-snap-align: start; /* Align each image to the start */
}

.slide img {
    width: 100%; /* Set image width to 100% of container */
    height: auto; /* Maintain aspect ratio */
}

/* Add your CSS styles for arrows here */
.arrows {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2; /* Ensure arrows appear above images */
}

.left-arrow {

    left: 10px;
}

.right-arrow {
    right: 10px;
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}
