body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    font-family: Poppins;
    /* font-family: "Nanum Gothic Coding", monospace; */
    background-color: #0B132B; 
    color: #C5C6C7; 
    background-image: url('bg2.jpg'); 
    /* background-size: cover;  */
    background-repeat: no-repeat; 
    /* background-size: 100% 100%;  */
    background-position: center; 
}

.nanum-gothic coding-regular {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
  }


.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: hsl(162, 58%, 0%); 
    color: #C5C6C7; 
    /* padding: 10px 0;  */
    /* position: fixed; */
    width: 100%; 
    top: 0; /* Position the header at the top of the viewport */

}

.logo {
    display: flex;
    gap: 1rem;
}

.title {
    align-self: center;
}
.logo img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */}

.title h1 {
    margin: 0;
    font-family: Poppins;
    /* font-family: 'Namum Gothic Coding'; */
    font-size: 35px;
    color: #FFFFFF; /* Title color set to white */
    margin-left: 10px; /* Adjust the margin to bring it closer to the logo */
    .arena {
        color: #FFFFFF; /* Color for "Arena" */
    }
    
    .number {
        color: #68C301; /* Color for "51" */
    }
    
}
    

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #C5C6C7; 
    text-decoration: none;
}

nav ul li a:hover {
    color: #68C301;
}

.search input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    background-color: rgb(27, 61, 0); 
    color: #C5C6C7; 
}

.search button {
    padding: 8px 16px;
    background-color: rgb(104, 195, 1); 
    border: none;
    border-radius: 4px;
    color: black; 
    cursor: pointer;
}

.search button:hover {
    background-color: #68C301; 
}

.account a {
    color: #C5C6C7; /* Account link color */
    text-decoration: none;
}

.account a:hover {
    text-decoration: underline;
}

footer {

    text-align: center;
    /* position: fixed; */
    padding: 1rem;
    /* padding: 20px 0; */
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    
}

.footer-nav {
    background-color: #07090A;
    color: #C5C6C7;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.top-links {
    display: flex;
    align-items: center;
}

.footer-nav a {
    color: #C5C6C7;
    text-decoration: none;
}

.footer-nav i {
    font-size: 20px; /* Adjust arrow size */
    vertical-align: middle;
    margin-left: 5px;
    color: #68C301; /* Light blue color from your palette */
}

.languages ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.languages ul li {
    display: inline;
    margin-right: 10px;
}

.languages ul li:last-child {
    margin-right: 0;
}

.region select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #1B3D00; /* Darker blue background color */
    color: #C5C6C7;
}

.region select:focus {
    outline: none;
}

.region select option {
    background-color: #1B3D00; /* Darker blue background color */
    color: #C5C6C7;
}

.footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 20px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-media a,
.footer-links a {
    color: #C5C6C7;
    text-decoration: none;
    margin-left: 10px;
}

.social-media i {
    font-size: 30px; /* Adjust social media icon size */
    color: #68C301; /* Light blue color from your palette */
}

.languages-region {
    display: flex;
    align-items: center;
}

main {
    padding: 20px;
    /* background-color: #414a3f; */
    color: #C5C6C7;
}

.contact-us {
    /* width: 80%; */
    margin-top: 100px; 
    padding: 20px;
    background-color: #07090A;
    color: #C5C6C7;
}


.contact-us h2 {
    color: #68C301;
}

.contact-us form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-us form div {
    margin-bottom: 20px;
}

.contact-us form label {
    display: block;
    margin-bottom: 5px;
}

.contact-us form input[type="text"],
.contact-us form input[type="email"],
.contact-us form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #1B3D00;
    border-radius: 4px;
    background-color: #1B3D00;
    color: #C5C6C7;
}

.contact-us form button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #68C301;
    color: #1C2541;
    cursor: pointer;
}

.contact-us form button[type="submit"]:hover {
    background-color: #68C301;
}

.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #07090A;
    align-items: center;
    /* padding: 1rem; */
}

.google-map {
    /* filter: hue-rotate(90deg); */
    height: 450px; /* Adjust the height as needed */
}

.google-map iframe {
    width: 80%; /* Adjust the width as needed */
    max-width: 800px; /* Set a maximum width if necessary */
    height: 100%; /* Make the iframe fill the container vertically */
}

.about-us-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.map-container {
    width: 45%;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.team-info {
    width: 45%;
}

.team-info h1 {
    text-align: center;
}

.team-info p {
    text-align: justify;
}

.languages-region {
    display: flex;
    align-items: center;
}
/* Media queries for smaller screens */
@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;

    }
    .languages-region, .top-links {
    /* display: flex; */
    width: 100%;
    justify-content: space-around;
    text-align: center;

    } 

    /* .footer-links a {
        display: flex;
        direction: column;
        align-items: center;
    } */

    .social-media {
        margin-bottom: 10px;
    }
}

/* @media (min-width: 768px) {
    .social-media {
        margin-right: 20px;
    }
} */

body, html {
    margin: 0;
    padding: 0;
}

.image-gallery {
    position: relative; /* Position arrows relative to this container */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
}

.slider {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Snap to each image */
    position: relative; /* Position arrows relative to this container */
}

.slide {
    display: flex;
    scroll-snap-align: start; /* Align each image to the start */
}

.slide img {
    width: 100%; /* Set image width to 100% of container */
    height: auto; /* Maintain aspect ratio */
}

/* Add your CSS styles for arrows here */
.arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2; /* Ensure arrows appear above images */
}

.left-arrow {

    left: 10px;
}

.right-arrow {
    right: 10px;
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}
